<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa fa-superpowers"> Marvel Portal</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet />
  </div>
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">&copy; 2024 Ryan Rogers</p>

  <a href="https://www.marvel.com" target="_blank" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    Data provided by Marvel. © 2014 Marvel
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a routerLink="/search" class="nav-link px-2 text-muted">Search</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">About</a></li>
  </ul>
</footer>